img {
    
    margin: auto;
  width: 400px;
}

h1 {
  
  color: #414D41;
  font-size: 45px;
  }

body {
    background-color: #CDC6A8;

    font-family: "avenir next";
}

p {
  color: #414D41;
  font-size: 16px;
}

ol {
  color: #5D8E8E;
  font-size: 24px;
  font-weight: bold;
  width: 400px;

}

dd {
  font-size: 16px;
  font-weight: normal;
  color: #414D41;
    margin: auto;
  width: 400px; 
}

img.IsaacImage {
  margin: auto;
  width: 400px;

}

div.container {
        width: 66%;
    margin: auto;
}

header.main-header {
background: white;
    padding:1em 0;  
}

